@if (!memberServices.editMode()) {
  @if (photos(); as photos) {
    <div class="grid grid-cols-3 gap-3 auto-rows-min p-5 h[65vh] overflow-auto">
      @for (photo of photos; track photo.id) {
        <div class="relative">
          <img
            [src]="photo.url"
            [alt]="photo.memberId"
            class="rounded-lg w-full h-auto object-cover"
          />
          @if (accountService.currentUser()?.id === memberServices.member()?.id) {
            <app-star-button
              (click)="onSetMainPhoto(photo)"
              [disabled]="photo.url === memberServices.member()?.imageUrl"
              [selected]="photo.url === memberServices.member()?.imageUrl"
              class="absolute top-1 right-1 cursor-pointer"
            ></app-star-button>

            <app-delete-button
              (click)="deletePhoto(photo)"
              [disabled]="photo.url === memberServices.member()?.imageUrl"
              class="absolute top-1 left-1 cursor-pointer"
            ></app-delete-button>
          }
        </div>
      }
    </div>
  } @else {
    <p class="text-center text-gray-500">No photos available.</p>
  }
} @else {
  <app-image-upload (uploadFile)="onPhotoUpload($event)" [loading]="loading()"></app-image-upload>
}
